<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FatasyRPGApp.Properties.Settings.FantasyRPGDBConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=FantasyRPGDB;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>